media/feather.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="featherGUI" xmlns="featherGUI" >

  <xs:simpleType name="fgFlags">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?[A-Z]+(|-?[A-Z]+)*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsElement">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsControl">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsText">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|CHARWRAP|WORDWRAP|ELLIPSES|RTL|RIGHTALIGN|CENTER|SUBPIXEL)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|CHARWRAP|WORDWRAP|ELLIPSES|RTL|RIGHTALIGN|CENTER|SUBPIXEL))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsTextbox">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|CHARWRAP|WORDWRAP|ELLIPSES|RTL|RIGHTALIGN|CENTER|SUBPIXEL|ACTION|SINGLELINE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|CHARWRAP|WORDWRAP|ELLIPSES|RTL|RIGHTALIGN|CENTER|SUBPIXEL|ACTION|SINGLELINE))*" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="fgFlagsCombobox">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsButton">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|NOFOCUS)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|NOFOCUS))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsScrollbar">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsList">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|IGNOREMARGINEDGEX|IGNOREMARGINEDGEY|IGNOREMARGINEDGE|TILEX|TILEY|TILE|GROWX|GROWY|REVERSE|DISTRIBUTE|FIXEDSIZE|SELECT|MULTISELECT|DRAGGABLE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|IGNOREMARGINEDGEX|IGNOREMARGINEDGEY|IGNOREMARGINEDGE|TILEX|TILEY|TILE|GROWX|GROWY|REVERSE|DISTRIBUTE|FIXEDSIZE|SELECT|MULTISELECT|DRAGGABLE))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsGrid">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|IGNOREMARGINEDGEX|IGNOREMARGINEDGEY|IGNOREMARGINEDGE|TILEX|TILEY|TILE|GROWX|GROWY|REVERSE|DISTRIBUTE|FIXEDSIZE|SELECT|MULTISELECT|DRAGGABLE|AUTOEDIT)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|IGNOREMARGINEDGEX|IGNOREMARGINEDGEY|IGNOREMARGINEDGE|TILEX|TILEY|TILE|GROWX|GROWY|REVERSE|DISTRIBUTE|FIXEDSIZE|SELECT|MULTISELECT|DRAGGABLE|AUTOEDIT))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsResource">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|RECT|CIRCLE|TRIANGLE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|RECT|CIRCLE|TRIANGLE))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsCurve">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|LINE|QUADRATIC|CUBIC|BSPLINE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|LINE|QUADRATIC|CUBIC|BSPLINE))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsBox">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|IGNOREMARGINEDGEX|IGNOREMARGINEDGEY|IGNOREMARGINEDGE|TILEX|TILEY|TILE|GROWX|GROWY|REVERSE|DISTRIBUTE|FIXEDSIZE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|IGNOREMARGINEDGEX|IGNOREMARGINEDGEY|IGNOREMARGINEDGE|TILEX|TILEY|TILE|GROWX|GROWY|REVERSE|DISTRIBUTE|FIXEDSIZE))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsWindow">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|MINIMIZABLE|MAXIMIZABLE|RESIZABLE|NOCAPTION|NOBORDER)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|MINIMIZABLE|MAXIMIZABLE|RESIZABLE|NOCAPTION|NOBORDER))*" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="fgFlagsTabcontrol">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|DRAGGABLE)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|DRAGGABLE))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFlagsWorkspace">
    <xs:restriction base="xs:string">
      <xs:pattern value="(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|RULERX|RULERY|SNAPTOX|SNAPTOY)(\|(BACKGROUND|NOCLIP|IGNORE|HIDDEN|EXPANDX|EXPANDY|EXPAND|SNAPX|SNAPY|SNAP|DISABLE|HIDEH|HIDEV|SHOWH|SHOWV|RULERX|RULERY|SNAPTOX|SNAPTOY))*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgCheckboxState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="checked"/>
      <xs:enumeration value="indeterminate"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgFont">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+ (bold|bolder|light|lighter|normal|[1-9][0-9][0-9] )?(italic )?[^,]+(,[^,]+)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgHex">
    <xs:restriction base="xs:string">
      <xs:pattern value="0(x[0-9A-Fa-f]+)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgUnit">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="fgCoord">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Rect">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?(, |,| )(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?(, |,| )(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?(, |,| )(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgRect">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?(, |,| )(\+|-)?[0-9]+(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?(, |,| )(\+|-)?[0-9]+(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?(, |,| )(\+|-)?[0-9]+(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgVec">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?(, |,| )(\+|-)?[0-9]*(\.[0-9]+)?(%|(em|dp|sp|px)?:(\+|-)?[0-9]*(\.[0-9]+)?%?)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgAbsVec">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?(, |,| )(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgPoints">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?,(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?(;(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?,(\+|-)?[0-9]*(\.[0-9]+)?(em|dp|sp|px)?)*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fgTransition">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+ (ease|linear|ease-in|ease-out|ease-in-out|cubic\((\+|-)?[0-9]*(\.[0-9]+)?, ?(\+|-)?[0-9]*(\.[0-9]+)?, ?(\+|-)?[0-9]*(\.[0-9]+)?, ?(\+|-)?[0-9]*(\.[0-9]+)?)\)? [0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:group name="fgControlGroup">
    <xs:choice>
      <xs:element name="Element" type="fgElement" />
      <xs:element name="Control" type="fgControl" />
      <xs:element name="Box" type="fgBox"  />
      <xs:element name="Scrollbar" type="fgScrollbar" />
      <xs:element name="Button" type="fgButton"/>
      <xs:element name="Checkbox" type="fgCheckbox" />
      <xs:element name="Combobox" type="fgCombobox" />
      <xs:element name="Dropdown" type="fgDropdown" />
      <xs:element name="List" type="fgList" />
      <xs:element name="Grid" type="fgGrid" />
      <xs:element name="Menu" type="fgMenu" />
      <xs:element name="ContextMenu" type="fgMenu" />
      <xs:element name="Submenu" type="fgMenu" />
      <xs:element name="Progressbar" type="fgProgressbar" />
      <xs:element name="Radiobutton" type="fgRadiobutton" />
      <xs:element name="Resource" type="fgResource" />
      <xs:element name="Slider" type="fgSlider" />
      <xs:element name="TabControl" type="fgTabControl" />
      <xs:element name="Text" type="fgText" />
      <xs:element name="Textbox" type="fgTextbox" />
      <xs:element name="Window" type="fgWindow" />
      <xs:element name="Treeview" type="fgTreeview" />
      <xs:element name="Toolbar" type="fgToolbar" />
      <xs:element name="Workspace" type="fgWorkspace" />
      <xs:element name="Curve" type="fgCurve" />
      <xs:element name="Style" type="fgStyle" />
    </xs:choice>
  </xs:group>
  
  <xs:complexType name="fgLayoutBase">
    <!-- id is the UNIQUE layout identifier string -->
    <xs:attribute name="id" type="xs:string"/>
    <!-- this is the name used for styles. names do NOT have to be unique -->
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="order" type="xs:integer"/>
    <xs:attribute name="area" type="fgRect"/>
    <xs:attribute name="center" type="fgVec"/>
    <xs:attribute name="rotation" type="xs:decimal"/>
    <xs:attribute name="left" type="fgCoord"/>
    <xs:attribute name="top" type="fgCoord"/>
    <xs:attribute name="right" type="fgCoord"/>
    <xs:attribute name="bottom" type="fgCoord"/>
    <xs:attribute name="width" type="fgCoord"/>
    <xs:attribute name="height" type="fgCoord"/>
    <xs:attribute name="min-width" type="fgUnit"/>
    <xs:attribute name="min-height" type="fgUnit"/>
    <xs:attribute name="max-width" type="fgUnit"/>
    <xs:attribute name="max-height" type="fgUnit"/>
    <xs:attribute name="skin" type="xs:string"/>
    <xs:attribute name="alpha" type="xs:decimal"/>
    <!--<xs:attribute name="transform" type="fgTransform"/>-->
    <xs:attribute name="margin" type="Rect"/>
    <xs:attribute name="padding" type="Rect"/>
    <xs:attribute name="contextmenu" type="xs:string"/>
    
    <xs:attribute name="onconstruct" type="xs:string"/>
    <xs:attribute name="ondestroy" type="xs:string"/>
    <xs:attribute name="onmove" type="xs:string"/>
    <xs:attribute name="onsetalpha" type="xs:string"/>
    <xs:attribute name="onsettransform" type="xs:string"/>
    <xs:attribute name="onsetflags" type="xs:string"/>
    <xs:attribute name="onsetmargin" type="xs:string"/>
    <xs:attribute name="onsetpadding" type="xs:string"/>
    <xs:attribute name="onaddchild" type="xs:string"/>
    <xs:attribute name="onremovechild" type="xs:string"/>
    <xs:attribute name="onparentchange" type="xs:string"/>
    <xs:attribute name="onlayoutchange" type="xs:string"/>
    <xs:attribute name="ondragover" type="xs:string"/>
    <xs:attribute name="ondrop" type="xs:string"/>
    <xs:attribute name="ondraw" type="xs:string"/>
    <xs:attribute name="onsetskin" type="xs:string"/>
    <xs:attribute name="onsetstyle" type="xs:string"/>
    <xs:attribute name="onsetdpi" type="xs:string"/>
    <xs:attribute name="onsetscaling" type="xs:string"/>
    <xs:attribute name="onmousedown" type="xs:string"/>
    <xs:attribute name="onmousedblclick" type="xs:string"/>
    <xs:attribute name="onmouseup" type="xs:string"/>
    <xs:attribute name="onmouseon" type="xs:string"/>
    <xs:attribute name="onmouseoff" type="xs:string"/>
    <xs:attribute name="onmousemove" type="xs:string"/>
    <xs:attribute name="onmousescroll" type="xs:string"/>
    <xs:attribute name="ontouchbegin" type="xs:string"/>
    <xs:attribute name="ontouchend" type="xs:string"/>
    <xs:attribute name="ontouchmove" type="xs:string"/>
    <xs:attribute name="onkeyup" type="xs:string"/>
    <xs:attribute name="onkeydown" type="xs:string"/>
    <xs:attribute name="onkeychar" type="xs:string"/>
    <xs:attribute name="onjoybuttondown" type="xs:string"/>
    <xs:attribute name="onjoybuttonup" type="xs:string"/>
    <xs:attribute name="onjoyaxis" type="xs:string"/>
    <xs:attribute name="ongotfocus" type="xs:string"/>
    <xs:attribute name="onlostfocus" type="xs:string"/>
    <xs:attribute name="onnuetral" type="xs:string"/>
    <xs:attribute name="onhover" type="xs:string"/>
    <xs:attribute name="onactive" type="xs:string"/>
    <xs:attribute name="onaction" type="xs:string"/>
    <xs:attribute name="onadditem" type="xs:string"/>
    <xs:attribute name="onremoveitem" type="xs:string"/>
    <xs:attribute name="onsetitem" type="xs:string"/>
    <xs:attribute name="onsetvalue" type="xs:string"/>
    <xs:attribute name="onsetrange" type="xs:string"/>
    <xs:attribute name="onsetasset" type="xs:string"/>
    <xs:attribute name="onsetuv" type="xs:string"/>
    <xs:attribute name="onsetcolor" type="xs:string"/>
    <xs:attribute name="onsetoutline" type="xs:string"/>
    <xs:attribute name="onsetfont" type="xs:string"/>
    <xs:attribute name="onsetlineheight" type="xs:string"/>
    <xs:attribute name="onsetletterspacing" type="xs:string"/>
    <xs:attribute name="onsettext" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="fgLayout">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:sequence>
          <xs:group ref="fgControlGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgLayoutText">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="text" type="xs:string"/>
        <xs:attribute name="color" type="fgHex"/>
        <xs:attribute name="font" type="fgFont"/>
        <xs:attribute name="lineheight" type="fgUnit"/>
        <xs:attribute name="letterspacing" type="xs:decimal"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgElement">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsElement"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgControl">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsElement"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgButton">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsButton"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgBox">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsBox"/>
        <xs:attribute name="spacing" type="fgAbsVec"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgScrollbar">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsScrollbar"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgCheckbox">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsElement"/>
        <xs:attribute name="value" type="fgCheckboxState" default="none"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgCombobox">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsCombobox"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgDropdown">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsList"/>
        <xs:attribute name="selectcolor" type="fgHex"/>
        <xs:attribute name="hovercolor" type="fgHex"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgList">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:sequence>
          <xs:element name="ListItem" minOccurs="0" maxOccurs="unbounded" type="fgElement" />
          <xs:group ref="fgControlGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="flags" type="fgFlagsList"/>
        <xs:attribute name="dragcolor" type="fgHex"/>
        <xs:attribute name="value" type="xs:decimal" default="0.0"/>
        <xs:attribute name="spacing" type="fgAbsVec"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="fgGrid">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:sequence>
          <xs:element name="Column" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="fgLayoutBase">
                  <xs:attribute name="text" type="xs:string"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="GridRow" minOccurs="0" maxOccurs="unbounded" type="fgBox" />
        </xs:sequence>
        <xs:attribute name="flags" type="fgFlagsGrid"/>
        <xs:attribute name="dragcolor" type="fgHex"/>
        <xs:attribute name="splitter" type="fgAbsVec"/>
        <xs:attribute name="spacing" type="fgAbsVec"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgMenu">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:choice>
          <xs:element name="MenuItem" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="fgLayout">
                  <xs:attribute name="flags" type="fgFlagsBox"/>
                  <xs:attribute name="text" type="xs:string"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:attribute name="flags" type="fgFlagsBox"/>
        <xs:attribute name="spacing" type="fgAbsVec"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgProgressbar">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsElement"/>
        <xs:attribute name="value" type="xs:decimal" default="0.0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgRadiobutton">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsElement"/>
        <xs:attribute name="value" type="xs:boolean" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgResource">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsResource"/>
        <xs:attribute name="color" type="fgHex"/>
        <xs:attribute name="uv" type="fgRect"/>
        <xs:attribute name="asset" type="xs:string"/>
        <xs:attribute name="edgecolor" type="fgHex"/>
        <xs:attribute name="outline" type="fgUnit"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgCurve">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsCurve"/>
        <xs:attribute name="color" type="fgHex"/>
        <xs:attribute name="points" type="fgPoints"/>
        <xs:attribute name="value" type="xs:decimal" default="0.1" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgSlider">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsElement"/>
        <xs:attribute name="value" type="xs:decimal" default="0.0"/>
        <xs:attribute name="range" type="xs:decimal" default="1.0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgTabControl">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:choice>
          <xs:element name="Tab" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="fgScrollbar">
                  <xs:attribute name="text" type="xs:string"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:attribute name="flags" type="fgFlagsTabcontrol"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgText">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsText"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgTextbox">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsTextbox"/>
        <xs:attribute name="placeholder" type="xs:string"/>
        <xs:attribute name="cursorcolor" type="fgHex"/>
        <xs:attribute name="placecolor" type="fgHex"/>
        <xs:attribute name="selectcolor" type="fgHex"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgWindow">
    <xs:complexContent>
      <xs:extension base="fgLayoutText">
        <xs:attribute name="flags" type="fgFlagsWindow"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgTreeItem">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:sequence>
          <xs:group ref="fgControlGroup" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="TreeItem" type="fgTreeItem" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="spacing" type="fgAbsVec"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgTreeview">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:choice>
          <xs:element name="TreeItem" type="fgTreeItem" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="flags" type="fgFlagsScrollbar"/>
        <xs:attribute name="spacing" type="fgAbsVec"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgToolbar">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:choice>
          <xs:element name="ToolGroup" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="fgLayout">
                  <xs:attribute name="flags" type="fgFlagsElement"/>
                  <xs:attribute name="spacing" type="fgAbsVec"/>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:choice>
        <xs:attribute name="spacing" type="fgAbsVec"/>
        <xs:attribute name="flags" type="fgFlagsElement"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgWorkspace">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:attribute name="flags" type="fgFlagsWorkspace"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fgLayoutRoot">
    <xs:complexContent>
      <xs:extension base="fgLayout">
        <xs:choice>
          <xs:element name="Layout" type="fgLayoutRoot" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="flags" type="fgFlagsElement"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="Layout" type="fgLayoutRoot" />
    
  <xs:complexType name="fgStyle">
    <xs:complexContent>
      <xs:extension base="fgLayoutBase">
        <xs:attribute name="flags" type="fgFlags"/>
        <xs:attribute name="text" type="xs:string"/>
        <xs:attribute name="placeholder" type="xs:string"/>
        <xs:attribute name="font" type="fgFont"/>
        <xs:attribute name="lineheight" type="fgUnit"/>
        <xs:attribute name="letterspacing" type="xs:decimal"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="uv" type="fgRect"/>
        <xs:attribute name="asset" type="xs:string"/>
        <xs:attribute name="outline" type="fgUnit"/>
        <xs:attribute name="color" type="fgHex"/>
        <xs:attribute name="placecolor" type="fgHex"/>
        <xs:attribute name="cursorcolor" type="fgHex"/>
        <xs:attribute name="selectcolor" type="fgHex"/>
        <xs:attribute name="hovercolor" type="fgHex"/>
        <xs:attribute name="dragcolor" type="fgHex"/>
        <xs:attribute name="edgecolor" type="fgHex"/>
        <xs:attribute name="transition" type="fgTransition"/>
        <xs:attribute name="transition-area" type="fgTransition"/>
        <xs:attribute name="transition-center" type="fgTransition"/>
        <xs:attribute name="transition-rotation" type="fgTransition"/>
        <xs:attribute name="transition-left" type="fgTransition"/>
        <xs:attribute name="transition-top" type="fgTransition"/>
        <xs:attribute name="transition-right" type="fgTransition"/>
        <xs:attribute name="transition-bottom" type="fgTransition"/>
        <xs:attribute name="transition-alpha" type="fgTransition"/>
        <xs:attribute name="transition-value" type="fgTransition"/>
        <xs:attribute name="transition-color" type="fgTransition"/>
        <xs:attribute name="transition-uv" type="fgTransition"/>
        <xs:attribute name="transition-edgecolor" type="fgTransition"/>
        <xs:attribute name="transition-outline" type="fgTransition"/>
        <xs:attribute name="transition-lineheight" type="fgTransition"/>
        <xs:attribute name="transition-letterspacing" type="fgTransition"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:group name="fgSkinGroup">
    <xs:choice>
      <xs:element name="Element" type="fgElement" />
      <xs:element name="Control" type="fgControl" />
      <xs:element name="Box" type="fgBox"  />
      <xs:element name="Scrollbar" type="fgScrollbar" />
      <xs:element name="Button" type="fgButton"/>
      <xs:element name="Checkbox" type="fgCheckbox" />
      <xs:element name="Combobox" type="fgCombobox" />
      <xs:element name="Dropdown" type="fgDropdown" />
      <xs:element name="List" type="fgList" />
      <xs:element name="Grid" type="fgGrid" />
      <xs:element name="Menu" type="fgMenu"  />
      <xs:element name="Submenu" type="fgMenu"  />
      <xs:element name="ContextMenu" type="fgMenu" />
      <xs:element name="Progressbar" type="fgProgressbar"  />
      <xs:element name="Radiobutton" type="fgRadiobutton" />
      <xs:element name="Resource" type="fgResource" />
      <xs:element name="Slider" type="fgSlider" />
      <xs:element name="TabControl" type="fgTabControl" />
      <xs:element name="Text" type="fgText" />
      <xs:element name="Textbox" type="fgTextbox" />
      <xs:element name="Window" type="fgWindow" />
      <xs:element name="Treevew" type="fgTreeview" />
      <xs:element name="Style" type="fgStyle" />
      <xs:element name="Skin" type="fgSkin" />
      <xs:element name="Curve" type="fgCurve" />
    </xs:choice>
  </xs:group>

  <xs:complexType name="fgSkin">
    <xs:complexContent>
      <xs:extension base="fgStyle">
        <xs:sequence>
          <xs:group ref="fgSkinGroup" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="inherit" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="Skin" type="fgSkin" />

</xs:schema>